<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="../css/index.css")
    body
        section.form-card
            .form-card__inner
                .form-card__info
                    .form-card__number 1
                    .form-card__title {{info.title}}
                .form-card__actions
                    .form-card__edit.btn-mini
                        figure.icon-pencile.icon-font
                        p Редактировать
                    .form-card__delete.btn-mini
                        figuer.icon-delete.icon-font
                        p Удалить
                    .form-card__appoint.btn-mini(@click='show = !show')
                        figure.icon-assign.icon-font
                        p Назначить 
                form.form-card__choice-people(action="" method="" v-if="show")
                    .choice-people__filters-inner
                        .choice-people__filters-header
                            .filters-header__title Фильтры
                            .filters-header__close(@click="clickToShow") {{btnText}}
                        .choice-people__filters-main(v-if="showFilter")
                            .filters-main__block
                                .filters-main__course
                                    p Назначить курс
                                    select#select__course.select__course.input-filter(name="selectCourse" v-model="courseSelect" )
                                        option(v-for="option in ['Все', ...this.COURSES]" v-bind:value="option") {{ option }}
                                    <div class="__select" data-state="">
                                        <div class="__select__title" data-default="Option 0">Option 0</div>
                                        <div class="__select__content">
                                            <input id="singleSelect0" class="__select__input" type="radio" name="singleSelect" checked />
                                            <label for="singleSelect0" class="__select__label">Option 0</label>
                                            <input id="singleSelect1" class="__select__input" type="radio" name="singleSelect" />
                                            <label for="singleSelect1" class="__select__label">Option 1</label>
                                            <input id="singleSelect2" class="__select__input" type="radio" name="singleSelect" />
                                            <label for="singleSelect2" class="__select__label">Option 2</label>
                                            <input id="singleSelect3" class="__select__input" type="radio" name="singleSelect" />
                                            <label for="singleSelect3" class="__select__label">Option 3</label>
                                            <input id="singleSelect4" class="__select__input" type="radio" name="singleSelect" />
                                            <label for="singleSelect4" class="__select__label">Option 4</label>
                                            <input id="singleSelect5" class="__select__input" type="radio" name="singleSelect" />
                                            <label for="singleSelect5" class="__select__label">Option 5</label>
                                            <input id="singleSelect6" class="__select__input" type="radio" name="singleSelect" />
                                            <label for="singleSelect6" class="__select__label">Option 6</label>
                                        </div>
                                    </div>
                                .filters-main__allstudents
                                    p Назначить студента
                                    .filters-main__students
                                        input.input-filter.filters-main__students_second-name(v-model="query"
                                                                                            @input = "findPeople"
                                                                                            type="text"
                                                                                            placeholder="Фамилия Имя Отчество"
                                                                                            required)
                            .filters-main__group
                                .filters-main__group_course
                                    p Назначить группу
                                    select#select__course.select__course.input-filter(v-model="groupSelect" required)
                                        option(v-for="option in ['Все', ...this.GROUPS]" v-bind:value="option") {{ option }}
                                button.button-course.btn-mini 
                                    figure.icon-pencile
                                    span Назначить
                        .choice-people__filters-people
                            p.choice-people_title Курс
                            p.choice-people_title Группа
                            p.choice-people_title ФИО
                            p.choice-people_title Действия
                        .choice-people__block(v-if="query.length>0" v-for="val in this.PEOPLE")
                            .choice-people__block_flex
                                .choice-people__course {{ val.course }}
                                .choice-people__group {{ val.group }}
                                .choice-people__date {{ val.name }}
                                a.choice-people__act(href="#")
                                    img.choice-people__img(src="icons/act.svg")
                                    p Назначить 
                                a.choice-people__cancel(href="#")
                                    img.choice-people__img(src="icons/cancel.svg")
                                    p Отменить назначение
                        .buttons__block
                            input.buttons__block_submit.btn-mini(type="submit" value="Сохранить")
                            input.buttons__block_rest.btn-mini(type="rest" value="Отменить изменения")
        script(src="../scripts/script.js")