<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="../sgmy.css")
    body
        header
        main.main
            section.available
                .notification
                        p.notification__title Уведомления
                        .notification__form-block
                            .notification__container
                                .notification__text
                                    .notification__number
                                        .number 1
                                    p.notification__application Заявление на предоставление академического отпуска
                                .notification__alert
                                    img.img-alert(src="../assets/img/icons/alert.svg", alt="Важно")
                                    p.notification__alert_text Уважаемый Константин, Вы неверно указали ФИО ректора. Мы рассмотрим Ваше завявление после исправления ошибки. Уважаемый Константин, Вы неверно указали ФИО ректора. Мы рассмотрим Ваше завявление после исправления ошибки
                                .notification_links
                                    button.notification__rewrite-button 
                                        figure.icon-pencile
                                        span Редактировать
                                    button.notification__delete-button 
                                        figure.icon-delete
                                        span Удалить
                        .notification__form-block
                            .notification__container
                                .notification__text
                                    .notification__number
                                        .number 2
                                    p.notification__application Заявление на предоставление академического отпуска
                                .notification__alert
                                    img.img-alert(src="../assets/img/icons/alert.svg", alt="Важно")
                                    p.notification__alert_text Уважаемый Константин, Вы неверно указали ФИО ректора. Мы рассмотрим Ваше завявление после исправления ошибки. Уважаемый Константин, Вы неверно указали ФИО ректора. Мы рассмотрим Ваше завявление после исправления ошибки
                                .notification_links
                                    button.notification__rewrite-button 
                                        figure.icon-pencile
                                        span Редактировать
                                    button.notification__delete-button 
                                        figure.icon-delete
                                        span Удалить
                        .notification__form-block
                            .notification__container
                                .notification__text
                                    .notification__number
                                        .number 3
                                    p.notification__application Заявление на предоставление академического отпуска
                                .notification__alert
                                    img.img-alert(src="../assets/img/icons/alert.svg", alt="Важно")
                                    p.notification__alert_text Уважаемый Константин, Вы неверно указали ФИО ректора. Мы рассмотрим Ваше завявление после исправления ошибки. Уважаемый Константин, Вы неверно указали ФИО ректора. Мы рассмотрим Ваше завявление после исправления ошибки
                                .notification_links
                                    button.notification__rewrite-button 
                                        figure.icon-pencile
                                        span Редактировать
                                    button.notification__delete-button 
                                        figure.icon-delete
                                        span Удалить
        footer
        script(src="../scripts/script.js")