// TODO:
// https://guides.kontur.ru/components/calendar/
// TODO: стили для input file
//https://tech.geekjob.ru/css-file-input-styling/
//https://only-to-top.ru/blog/coding/2020-04-19-stilizaciya-input-file.html
//https://smartlanding.biz/stilizaciya-input-type-file.html
//https://obninsksite.ru/blog/html-and-css/input-file-style
//https://webref.ru/course/html5-form/file
//https://habr.com/ru/post/423035/

@font-face {
  font-family: "fontello";
  src: url("fonts/sgmu-fontello.woff2?90319489") format("woff2"),
    url("fonts/sgmu-fontello.woff?90319489") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"),
    url("fonts/roboto-v20-latin_cyrillic-regular.woff") format("woff");
}

.main {
  font-family: Roboto;

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }

  [class^="icon-"]:before,
  [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    display: inline-block;
  }

  .icon-pencile:before {
    content: "\e809";
  }

  .icon-download:before {
    content: "\e80a";
  }

  .icon-delete:before {
    content: "\e80b";
  }

  .icon-clip:before {
    content: "\e80c";
  }

  .icon-target:before {
    content: "\e80d";
  }
}

.sgmu__main {
  display: block;

  .form-block {
    width: 580px;
    height: 516px;
    background: linear-gradient(92.97deg, #eafaff 0%, #e2f8ff 100%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto;

    .form-block__content {
      width: 380px;
      height: 396px;
      margin-top: 60px;

      .form-block__text {
        height: 54px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .form-block__main-title {
          font-weight: 500;
          font-size: 24px;
          line-height: 28px;
          text-align: center;
        }

        .form-block__title {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 16px;
          text-align: center;
          color: #617f88;
        }
      }

      .form-main {
        display: flex;
        flex-direction: column;
        height: 301px;
        justify-content: space-between;

        .login,
        .password {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 80px;
          width: 380px;

          [class*="label-"] {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
          }

          .form-email,
          .form-password {
            outline: none;
            border: 1px solid #617f88;
            border-radius: 30px;
            height: 50px;
            padding-left: 20px;
          }
        }

        .form-button-enter {
          background: #002935;
          border-radius: 30px;
          color: white;
          width: 280px;
          height: 60px;
          font-weight: normal;
          font-size: 18px;
          line-height: 21px;
          align-self: center;
        }
      }
    }
  }
}

.available {
  [class*="label-"] {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    font-family: Roboto;
  }

  [class$="form-block"] {
    background: linear-gradient(92.97deg, #eafaff 0%, #e2f8ff 100%);
    box-shadow: 0px 8px 30px rgba(28, 54, 62, 0.2);
    border-radius: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }

  [class$="button"] {
    background: #002935;
    box-shadow: 0px 3px 10px rgba(29, 54, 62, 0.15);
    border-radius: 20px;
    color: #f4f8f8;
    height: 36px;
  }

  [class$="input"] {
    border: 1px solid #617f88;
    box-sizing: border-box;
    border-radius: 20px;
    width: 500px;
    min-height: 45px;
    padding-left: 20px;
    margin-top: 10px;

    &::placeholder {
      color: #617f88;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
    }
  }

  [class="flex"] {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 71px;
    width: 500px;
    margin-bottom: 20px;
  }

  .availabel__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 30px;
  }
}

.available__blocks {
  display: flex;
  justify-content: space-between;
  width: 1180px;
  margin: auto;
}

.availabel__form-block {
  width: 580px;
  min-height: 150px;
  overflow: hidden;
  padding: 20px 45px 0 20px;
  margin-bottom: 30px;

  .availabel__container {
    height: 100px;
    width: 515px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;

    .availabel__text {
      width: 515px;
      display: flex;
      justify-content: space-between;

      .availabel__number {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        width: 24px;
        height: 24px;
        border: 1px solid #002935;
      }

      .availabel__application {
        font-family: Roboto;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
      }
    }

    .availabel__write-button {
      width: 134px;
      height: 36px;
      display: flex;
      align-items: center;

      &:hover {
        color: red;
      }

      .icon-pencile {
        margin: 0 10px 0 22px;
      }
    }
  }

  .blocks {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    .textarea-input {
      resize: none;
      overflow: hidden;
      padding-top: 14px;
      padding-right: 20px;
    }

    .send {
      display: flex;
      flex-direction: column;
      height: 16px;
      justify-content: space-between;
      margin-bottom: 30px;

      .upload-file__label {
        display: inline-flex;
        cursor: pointer;

        &:hover {
          color: red;
        }

        .upload-file__text {
          margin-left: 15px;
          font-size: 14px;
          line-height: 16px;
          color: #617f88;
        }
      }

      .upload-file__input {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
      }
    }

    .personal-date {
      margin-bottom: 40px;

      .input__date {
        margin-right: 10px;
        cursor: pointer;
      }

      .label-date {
        color: #617f88;
        cursor: pointer;
      }
    }

    .send-submit {
      background: #002935;
      box-shadow: 0px 3px 10px rgba(29, 54, 62, 0.15);
      border-radius: 20px;
      color: #f4f8f8;
      height: 45px;
      width: 180px;
    }
  }

  .hidden {
    display: none;
  }
}

// for availabel__files

.download__form-block {
  width: 480px;
  height: 150px;
  margin-bottom: 30px;

  .download__container {
    padding: 20px 0 0 20px;

    .download__text {
      display: flex;
      margin-bottom: 32px;

      .download__number {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        width: 27px;
        height: 24px;
        border: 1px solid #002935;
        margin-right: 15px;
      }

      .download__application {
        font-family: Roboto;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
      }
    }

    .download_links {
      width: 360px;
      display: flex;
      justify-content: space-between;

      .download__write-button {
        width: 118px;
        height: 36px;
        display: flex;
        padding-top: 10px;
        text-decoration: none;

        .icon-download {
          margin: 0 10px 0 20px;
        }
      }

      .target__write-button {
        width: 212px;
        height: 36px;
        display: flex;
        padding-top: 10px;
        text-decoration: none;

        .icon-target {
          margin: 0 9px 0 22px;
        }
      }
    }
  }
}

// editor

.editor {
  width: 1180px;
  display: flex;
  justify-content: space-between;
  margin: auto;

  .editor__form-block {
    width: 480px;
    height: 150px;
    margin-bottom: 30px;

    .editor__container {
      height: 150px;
      padding: 20px 0 0 20px;

      .editor__text {
        display: flex;
        margin-bottom: 32px;

        .editor__number {
          margin-right: 10px;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          width: 27px;
          height: 24px;
          border: 1px solid #002935;
          margin-right: 15px;
        }

        .editor__application {
          font-family: Roboto;
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 21px;
        }
      }

      .editor_links {
        display: flex;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;

        .editor__rewrite-button {
          display: flex;
          width: 165px;
          margin-right: 30px;
          padding-top: 10px;

          .icon-pencile {
            margin: 0 10px 0 22px;
          }
        }

        .editor__delete-button {
          display: flex;
          width: 118px;
          padding-top: 10px;

          .icon-delete {
            margin: 0 7px 0 20px;
          }
        }
      }
    }
  }
}

.editor__forms {
  .editor__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 30px;
  }

  .availabel__form-block {
    width: 580px;
    min-height: 150px;
    overflow: hidden;
    padding: 20px 60px 20px 20px;
    margin-bottom: 30px;
  }
}

.delete {
  display: none;
}

.notification {
  width: 1180px;
  &__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 30px;
  }
  .notification__form-block {
    height: 196px;
    margin-bottom: 30px;
  }

  .notification__container {
    height: 165px;
    display: flex;
    flex-direction: column;
    padding: 20px 0 20px 20px;

    .notification__text {
      display: flex;
      margin-bottom: 23px;

      .notification__number {
        margin-right: 10px;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        width: 27px;
        height: 24px;
        border: 1px solid #002935;
        margin-right: 15px;
      }

      .notification__application {
        font-family: Roboto;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
      }
    }
    .notification__alert {
      display: flex;
      width: 1078px;
      justify-content: space-between;
      margin: 0 0 40px 81px;
      color: #617f88;
      .img-alert {
        height: 13px;
        width: 13px;
      }
      .notification__alert_text {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 125%;
        width: 1057px;
      }
    }

    .notification_links {
      display: flex;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;

      .notification__rewrite-button {
        display: flex;
        width: 165px;
        margin-right: 30px;
        padding-top: 10px;

        .icon-pencile {
          margin: 0 10px 0 22px;
        }
      }

      .notification__delete-button {
        display: flex;
        width: 118px;
        padding-top: 10px;

        .icon-delete {
          margin: 0 7px 0 20px;
        }
      }
    }
  }
}
